<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro</title>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<h1>Formulário de Cadastro</h1>
<form method="post" enctype="multipart/form-data"> <!-- Adicione enctype para suportar upload de arquivos -->

{% csrf_token %}
<label for="idEquipamento">Id do equipamento:</label>
<input type="text" id="idEquipamento" name="idEquipamento" required><br><br>
<label for="local">Local do equipamento:</label>
<input type="text" id="local" name="local" required><br><br>
<label for="image">Imagem:</label> <!-- Campo de upload de imagem -->
<input type="file" id="image" name="image"><br><br>
<button type="submit">Enviar</button>
</form>
</body>
</html>